body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  box-sizing: border-box;
  display: block;
}
/*common*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin: 0 auto;
}
/*header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.head-nav {
  display: flex;
  align-items: center;
}
.head-list {
  display: flex;
  gap: 40px;
}
.adress-list {
  display: flex;
  align-items: center;
}

/*Лого*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.span-header {
  color: #2e2f42;
}

/*Хед навигация*/
.head-list .link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.head-list .link:hover,
.head-list .link:focus,
.head-list .link:active {
  color: #404bbf;
}
/*Адресс*/
.adress {
  font-style: normal;
  margin-left: auto;
}
.adress-list {
  gap: 40px;
}

.adress .link {
  padding: 24px 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress .link:focus,
.adress .link:hover {
  color: #404bbf;
}
/*Герой*/
.hero {
  background-color: #2e2f42;
}
.hero-container {
  padding: 188px 0;
  display: block;
}
/*Title tex*/
.text-title {
  margin: auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/*Button*/
.hero-button {
  display: block;
  margin: 24px auto;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
/*Список фишек*/
.feature-container {
  padding: 120px 0;
}
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-list.item {
  width: calc((100% - 72px) / 4);
  width: 264px;
}

.feature-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Команда*/
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-image {
  background-color: #ffffff;
}

.name-text {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.job-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Портфолио*/
.portfolio {
  background-color: #ffffff;
}
.portfolio-list {
  background-color: #ffffff;
}
.portfolio-page {
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Нижняя часть*/
.footer {
  background-color: #2e2f42;
}
.footer .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
